<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мой Интернет-Магазин</title>
    <link rel="stylesheet" href="/styles/footer.css">
</head>
<body>
    <footer style="position: fixed; bottom: 0; left: 0; right: 0; width: 100%; text-align: center;">
        <p>&copy; 2024 Мой сайт</p>
    </footer>
</body>
</html>