<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мой Интернет-Магазин</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        nav {
            background-color: #ddd;
            padding: 10px;
        }
        nav ul {
            list-style-type: none;
            padding: 0;
        }
        nav ul li {
            display: inline;
            margin-right: 10px;
        }
        main {
            padding: 20px;
        }
    </style>
</head>
<body>
<%- include('partials/header') %>

    <main>
        <h2>Добро пожаловать на главную страницу!</h2>
        <p>Это пример содержимого главной страницы.</p>


<p>RU</p>
<p>Skip navigation</p>
<p>Search</p>
<p>Avatar image</p>
<p>21:49 / 1:56:22</p>
<p>•</p>
<p>про питание</p>
<p>Замедлить старение через питание | МИКРОБИОЛОГ ДМИТРИЙ АЛЕКСЕЕВ</p>
<p>sergeymeza</p>
<p>538K subscribers</p>
<p>Subscribed</p>
<p>702</p>
<p>17</p>
<p>Share</p>
<p>Clip</p>
<p>Save</p>
<p>9.7K views  5 hours ago  Подкаст</p>
<p>Производство: БИГ НАМБРЗ</p>
<p>телеграм канал Сергея Мезенцева - https://t.me/simbackstage</p>
<p>197 Comments</p>
<p>Add a comment...</p>
<p>Pinned by sergeymeza</p>
<p>@sergeymeza</p>
<p>20 hours ago</p>
<p>00:00 интро</p>
<p>00:35 Дмитрий у нас был 4 года назад</p>
<p>00:58 побывал у всех</p>
<p>05:05 что сейчас в мире какашек</p>
<p>12:00 важность физической активности</p>
<p>19:50 про питание</p>
<p>26:40 про мраморную говядину</p>
<p>27:25 обработанная еда</p>
<p>31:15 про производителей еды</p>
<p>34:30 про скрытый голод</p>
<p>36:30 что должно быть в базовой еде</p>
<p>41:05 что посмотреть/почитать про питание</p>
<p>45:10 нами руководит желудок</p>
<p>54:30 мы не можем сами переваривать</p>
<p>56:55 про витамины и минералы</p>
<p>01:03:05 какие витамины нам нужны</p>
<p>01:14:47 что с молочкой? Безлактозную можно?</p>
<p>01:19:37 про шведский стол</p>
<p>01:25:00 хищники питаются интуитивно</p>
<p>01:28:14 про хлеб и глютен</p>
<p>01:33:00 про зубы</p>
<p>01:42:05 диета хищника или когда ешь только мясо</p>
<p>01:49:15 почему мы не можем есть всегда одинаково</p>
<p>01:55:03 вешаем новую картину</p>
<p>5</p>
<p>Reply</p>
<p>@lexxpiro</p>
<p>18 hours ago</p>
<p>Любые советы по замедлению старения я готов слушать только от 100-120 летних людей</p>
<p>59</p>
<p>Reply</p>
<p>2 replies</p>
<p>@Ugene</p>
<p>20 hours ago</p>
<p>А где же Бинга-бонго и Джимба-джамбо?</p>
<p>48</p>
<p>Reply</p>
<p>@user-xr4jd3pz1m</p>
<p>19 hours ago</p>
<p>Микробиолог за 4 года постарел на 10, в 40 выглядит на 55</p>
<p>35</p>
<p>Reply</p>
<p>2 replies</p>
<p>@gerrard_5684</p>
<p>18 hours ago</p>
<p>После прошлого выпуска с Дмитрием по приколу перестал вообще есть сахар и ВСЁ что сахар содержит на год. Скинул почти 10кг, поменял пищевые привычки(хер че найдешь без сахара)</p>
<p>Прыщи ушли, настроение выровнялось.</p>
<p>Ну потом начал есть продукты с сахаром, но в значительно меньшей мере.</p>
<p>Дмитрию спасибо</p>
<p>42</p>
<p>Reply</p>
<p>3 replies</p>
<p>@bi0r0b0tics</p>
<p>20 hours ago</p>
<p>только сегодня утром пару часов назад размышляла, как бы замедлить старение при помощи еды, и тут вижу уведомление. Чудеса</p>
<p>24</p>
<p>Reply</p>
<p>3 replies</p>
<p>@ms-manox</p>
<p>19 hours ago</p>
<p>Ничего себе он постарел за эти 4 года</p>
<p>22</p>
<p>Reply</p>
<p>@popurri1986</p>
<p>14 hours ago</p>
<p>От Дж.Лето я бы послушала его секреты молодости</p>
<p>12</p>
<p>Reply</p>
<p>2 replies</p>
<p>@user-uv2sf8pj6c</p>
<p>20 hours ago</p>
<p>Обязательно досмотрю выпуск. Тайм-код интересный, животрепещущие темы затронуты. Проблемы ЖКТ практически у всех</p>
<p>8</p>
<p>Reply</p>
<p>@mytechnosnail</p>
<p>20 hours ago</p>
<p>Что то биолог сильно постарел за 4 года. Его советы точно работают или это борода так старит? =_=</p>
<p>29</p>
<p>Reply</p>
<p>2 replies</p>
<p>@trixter88</p>
<p>19 hours ago (edited)</p>
<p>17:55 - есть такое почему-то подзабытое слово как «физкультура». Большинство из нас никаким спортом не занимается (да и не надо, так как спорт вреден для здоровья; спорт — это работа на результат, не взирая ни на что), больше подходит именно что термин «физкультура». Физра, физуха, физкультурка — вот это вот всё, но никак не спорт. Термин «спорт» задаёт для большинства совершенно недостижимые высоты, и среднестатистический человек просто через одно-два-три занятия всё бросает и уходит в загул. Слово же «активность» какое-то слишком нейтральное. Что за активность? Сексуальная, политическая, физическая — сразу и не поймёшь, слишком много к нему ассоциативных прилагательных прилипло. И ещё хочу сказать про один момент, который может помочь удержаться в регулярном физкультурном режиме — это регистрация на каком-либо онлайн-ресурсе, куда вы будет сохранять свои тренировки (конечно, предварительно нужно их записывать на что-либо, на умные часы, на фитнесс-браслет, на велокомп или что т

    </main>

    <%- include('partials/footer') %>
</body>
</html>