footer {
  position: fixed; /* Фиксированное положение */
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%; /* Ширина равна 100% */
  background-color: #333; /* Цвет фона */
  color: #fff; /* Цвет текста */
  padding: 10px 0; /* Поля вокруг текста */
  box-sizing: border-box; /* Включает padding и border в общую ширину */
  text-align: center; /* Выравнивание текста по центру */
}

/* Если в футере будут дополнительные элементы, например, ссылки или логотип, можно добавить их стили здесь */